name: Test Formalities

on:
  workflow_call:
    inputs:
      exclude_weblate:
        description: 'Exclude commits authored by Weblate from some checks'
        required: false
        type: boolean
      post_comment:
        description: 'Post summaries to the pull request'
        required: false
        type: boolean
      warn_on_no_modify:
        description: 'Warn when PR edits by maintainers are not allowed. Requires post_comment to be true.'
        required: false
        type: boolean

permissions:
  pull-requests: write

jobs:
  formalities:
    name: Test Formalities
    runs-on: ubuntu-slim

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Checkout formalities
        uses: actions/checkout@v6
        with:
          repository: openwrt/actions-shared-workflows
          path: workflow_context
          sparse-checkout: |
            .github/scripts/check_formalities.sh
            .github/scripts/ci_helpers.sh
            .github/scripts/process_formalities.js
          sparse-checkout-cone-mode: false

      - name: Test formalities
        id: formalities
        run: workflow_context/.github/scripts/check_formalities.sh
        env:
          BRANCH: ${{ github.base_ref }}
          EXCLUDE_WEBLATE: ${{ inputs.exclude_weblate }}

      - name: Process GitHub formality check results
        if: always() && inputs.post_comment == true
        uses: actions/github-script@v8
        env:
          JOB_ID: ${{ job.check_run_id }}
          SUMMARY: ${{ steps.formalities.outputs.content }}
          WARN_ON_NO_MODIFY: ${{ inputs.warn_on_no_modify }}
        with:
          script: |
            const processFormalities = require('./workflow_context/.github/scripts/process_formalities.js')
            await processFormalities({
              github,
              context,
              jobId: process.env.JOB_ID,
              summary: process.env.SUMMARY,
              warnOnNoModify: process.env.WARN_ON_NO_MODIFY,
            });
