name: Test Formalities

on:
  workflow_call:
    inputs:
      exclude_weblate:
        description: 'Exclude commits authored by Weblate from some checks'
        required: false
        type: boolean

jobs:
  build:
    name: Test Formalities
    runs-on: ubuntu-slim
    strategy:
      fail-fast: false

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Checkout formalities
        uses: actions/checkout@v5
        with:
          repository: openwrt/actions-shared-workflows
          path: workflow_context
          sparse-checkout: |
            .github/scripts/ci_helpers.sh
            .github/scripts/check_formalities.sh
          sparse-checkout-cone-mode: false

      - name: Test formalities
        run: workflow_context/.github/scripts/check_formalities.sh
        env:
          BRANCH: ${{ github.base_ref }}
          EXCLUDE_WEBLATE: ${{ inputs.exclude_weblate }}
