name: Test Formalities

on:
  workflow_call:

jobs:
  build:
    name: Test Formalities
    runs-on: ubuntu-slim
    strategy:
      fail-fast: false

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Checkout formalities
        uses: actions/checkout@v5
        with:
          repository: openwrt/actions-shared-workflows
          path: workflow_context
          sparse-checkout: |
            .github/scripts/ci_helpers.sh
            .github/scripts/check_formalities.sh
          sparse-checkout-cone-mode: false

      - name: Determine branch name
        run: |
          BRANCH="${GITHUB_BASE_REF#refs/heads/}"
          echo "Building for $BRANCH"
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV

      - name: Test formalities
        run: workflow_context/.github/scripts/check_formalities.sh
