name: Test Formalities

on:
  pull_request_target:

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    name: Test Formalities
    uses: openwrt/actions-shared-workflows/.github/workflows/formal.yml@main
    with:
      post_comment: true
