name: Build all core packages

on:
  workflow_call:
    secrets:
      ccache_s3_endpoint:
      ccache_s3_bucket:
      ccache_s3_access_key:
      ccache_s3_secret_key:

jobs:
  determine_changed_files:
    name: Determine Changed Files
    runs-on: ubuntu-latest
    outputs:
      all_changed_files: ${{ steps.changed-files.outputs.all_changed_files }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v42

  determine_changed_packages:
    name: Determine Changed Packages
    needs: determine_changed_files
    runs-on: ubuntu-latest
    outputs:
      changed_packages: ${{ steps.get_packages.outputs.changed_packages }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            package

      - name: Checkout shared workflows tools
        uses: actions/checkout@v4
        with:
          repository: openwrt/actions-shared-workflows
          path: shared-workflows
          sparse-checkout: .github/scripts/get_changed_packages.pl

      - name: Determine changed packages
        id: get_packages
        run: |
          CHANGED_PACKAGES="$(./shared-workflows/.github/scripts/get_changed_packages.pl "${{ needs.determine_changed_files.outputs.all_changed_files }}")"

          echo "changed_packages="$CHANGED_PACKAGES"" >> $GITHUB_OUTPUT

  build:
    name: Build Packages with external toolchain
    needs: determine_changed_packages
    permissions:
      contents: read
      packages: read
      actions: write
    strategy:
      fail-fast: False
      matrix:
        include:
          - target: malta
            subtarget: be
          - target: x86
            subtarget: 64
    uses: ./.github/workflows/reusable_build.yml
    with:
      container_name: toolchain
      target: ${{ matrix.target }}
      subtarget: ${{ matrix.subtarget }}
      build_kernel: true
      build_all_kmods: true
      build_all_modules: true
      build_full: true
      ccache_type: packages
      upload_ccache_cache: ${{ github.repository_owner == 'openwrt' }}
      check_packages_list: ${{ needs.determine_changed_packages.outputs.changed_packages }}

  upload-ccache-cache-in-s3:
    if: github.event_name == 'push' && github.repository_owner == 'openwrt'
    name: Upload ccache cache to s3
    needs: build
    strategy:
       fail-fast: False
       matrix:
        include:
          - target: malta
            subtarget: be
          - target: x86
            subtarget: 64
    secrets:
      s3_endpoint: ${{ secrets.ccache_s3_endpoint }}
      s3_bucket: ${{ secrets.ccache_s3_bucket }}
      s3_access_key: ${{ secrets.ccache_s3_access_key }}
      s3_secret_key: ${{ secrets.ccache_s3_secret_key }}
    uses: ./.github/workflows/reusable_upload-file-s3.yml
    with:
      download_id: ${{ matrix.target }}-${{ matrix.subtarget }}${{ matrix.testing != '' && '-testing' || '' }}-ccache-cache
      filename: ccache-packages-${{ matrix.target }}-${{ matrix.subtarget }}${{ matrix.testing != '' && '-testing' || '' }}${{ needs.build.outputs.ccache_tag }}.tar

