name: Determine Changed Files

on:
  workflow_call:
    outputs:
      all_changed_files:
        value: ${{ jobs.determine_changed_files.outputs.all_changed_files }}

jobs:
  determine_changed_files:
    name: Determine Changed Files
    runs-on: ubuntu-slim
    outputs:
      all_changed_files: ${{ steps.changed-files.outputs.all_changed_files }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
