name: Build host tools

on:
  workflow_call:

jobs:
  build-macos-latest:
    name: Build tools with macos latest
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: openwrt

      - name: Set XCode to latest
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Setup MacOS
        run: |
          echo "WORKPATH=/Volumes/OpenWrt" >> "$GITHUB_ENV"
          hdiutil create -size 20g -type SPARSE -fs "Case-sensitive HFS+" -volname OpenWrt OpenWrt.sparseimage
          hdiutil attach OpenWrt.sparseimage
          mv "$GITHUB_WORKSPACE/openwrt" /Volumes/OpenWrt/

      - name: Install required prereq on MacOS
        working-directory: ${{ env.WORKPATH }}/openwrt
        run: |
          brew install \
            python@3.12 \
            automake \
            coreutils \
            diffutils \
            findutils \
            gawk \
            git-extras \
            gnu-getopt \
            gnu-sed \
            grep \
            gpatch \
            make \
            python-setuptools \
            swig

            echo "/bin" >> "$GITHUB_PATH"
            echo "/sbin/Library/Apple/usr/bin" >> "$GITHUB_PATH"
            echo "/usr/bin" >> "$GITHUB_PATH"
            echo "/opt/homebrew/bin" >> "$GITHUB_PATH"
            echo "/opt/homebrew/opt/coreutils/bin" >> "$GITHUB_PATH"
            echo "/opt/homebrew/opt/findutils/libexec/gnubin" >> "$GITHUB_PATH"
            echo "/opt/homebrew/opt/gnu-getopt/bin" >> "$GITHUB_PATH"
            echo "/opt/homebrew/opt/make/libexec/gnubin" >> "$GITHUB_PATH"
            echo "/usr/sbin" >> "$GITHUB_PATH"

      - name: Make prereq
        working-directory: ${{ env.WORKPATH }}/openwrt
        run: make defconfig

      - name: Build tools MacOS
        working-directory: ${{ env.WORKPATH }}/openwrt
        run: make tools/install -j$(nproc) BUILD_LOG=1 || ret=$? .github/workflows/scripts/show_build_failures.sh

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: macos-latest-logs
          path: ${{ env.WORKPATH }}/openwrt/logs

      - name: Upload config
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: macos-latest-config
          path: ${{ env.WORKPATH }}/openwrt/.config

  check-linux-buildbot:
    name: Check tools with buildbot container
    uses: ./.github/workflows/reusable_check-tools.yml

  build-linux-buildbot:
    name: Build tools with buildbot container
    needs: check-linux-buildbot
    uses: ./.github/workflows/reusable_build-tools.yml
